.board button {
  width: 30%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  padding: 0;
  display: inline;
}

#reset {
  margin-top: 15px;
  height: 75px;
  width: 100px;
}

.top0,
.top1,
.top2 {
  border-top: none;
}

.top2,
.mid5,
.bot8 {
  border-right: none;
}

.bot6,
.bot7,
.bot8 {
  border-bottom: none;
}

.top0,
.mid3,
.bot6 {
  border-left: none;
}

.board {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
}