* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.board button {
  width: 30%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  padding: 0;
  display: inline;
  color: black;
  background: linear-gradient(to bottom, #cc0000 0%, #ffffff 103%);
}

body {
  background: linear-gradient(to bottom, #000000 80%, #ffffff 103%);
}

#reset {
  height: 75px;
  width: 100px;
  margin: auto;
  display: block;
  margin-top: 15px;
  background: linear-gradient(to bottom, #808080 0%, #000000 103%);
}

.top0,
.top1,
.top2 {
  border-top: none;
}

.top2,
.mid5,
.bot8 {
  border-right: none;
}

.bot6,
.bot7,
.bot8 {
  border-bottom: none;
}

.top0,
.mid3,
.bot6 {
  border-left: none;
}

.board {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
}

.sidebar {
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
}